@model IEnumerable<agencja.Models.Klub>

@{
    ViewBag.Title = "Index";
}

<h2>KLUBY</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Create")
    @Html.ActionLink("Sortuj po ID", "Index")
    @Html.ActionLink("Sortuj po nazwie", "OrderByNazwa")
    @Html.ActionLink("Sortuj po miescie", "OrderByMiasto")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miasto)
        </th>
        <th>
           Ilość miejsc
        </th>
        <th></th>
    </tr>




    @foreach (var item in Model)
    {
        <tr>
            @Html.Partial("_KlubL", item)
        </tr>
    }

</table>
