@model IEnumerable<agencja.Models.Koncert>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Create")
    @Html.ActionLink("Sortuj po ID", "Index")
    @Html.ActionLink("Sortuj po nazwie", "OrderByNazwa")
    @Html.ActionLink("Sortuj po cenie", "OrderByCena")
</p>
<table class="table">
    <tr>
        <th>
            Klub
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cena_biletu)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @Html.Partial("_KoncertL", item)
        </tr>
    }

</table>
