@model IEnumerable<agencja.Models.Koncert>

@{
    ViewBag.Title = "OrderByCena";
}

<h2>OrderByCena</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Create")
    @Html.ActionLink("Sortuj po ID", "Index")
    @Html.ActionLink("Sortuj po nazwie", "OrderByNazwa")
    @Html.ActionLink("Sortuj po cenie", "OrderByCena")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDKlub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cena_biletu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDKlub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cena_biletu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
